@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

html {
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
	background-color: white;
	color: #fff;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1em;
	line-height: 135%;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

a {
	color: #fff;
	text-decoration: none;
}

.clear {
	clear: both;
}

/*Стили для шапки */

header {
	display: block;
	width: 100%;
	height: 60px;
	background: #000;
	float: left;
}

header .name-logo {
	float: left;
	width: 18%;
	font-size: 30px;
	padding: 1%;
}

header .search {
	padding: 1%;
	float: left;
	width: 58%;

}

header .registr-auth , header .profile {
	padding: 1%;
	float: left;
	width: 18%;
}

header .profile {
	display: none;
}

header .search input {
	border-radius: 10px;
	border: 2px solid #353330;
	color: #350D57;
	padding: 4px;
}

header .search input:focus {
	border: 2px solid #A2A718;
}

header .search input:hover {
	cursor: pointer;
	border: 2px solid #D5DC22;
}

/*** Стили для основной части ***/

.wrapper {
	display: block;
	min-height: calc(100vh - 120px);
	float: left;
	width: 100%;
}

.wrapper .main {
	min-width: 82%;
	height: calc(96vh - 120px);
	min-height: 100%;
	float: left;
	background: #A29B9B;
	padding: 2%;
}

/*** Стили для полей в регистрациях ***/

.wrapper .main form .spase-inp {
	border-radius: 5px;
	border: 2px solid #E79033;
	margin: 5px;
	height: 25px;
	width: 200px;
	color: #9322B4;
	background: #DAC9C9;
}

.wrapper .main form .button-in {
	border: 2px solid #7B6519;
	background: #E79033;
	border-radius: 5px;
	padding: 4px;
	margin: 5px;
} 

.wrapper .main form .button-in:hover {
	border: 2px solid #E1E733;
	background: #E1E733;
	cursor: pointer;
}

/*** Стили для левой колонки ***/

.wrapper .sidebar {
	min-width: 10%;
	background: #000;
	height: calc(96vh - 120px);
	float: left;
	padding: 2%;
}



/*** стили для футера ***/

footer {
	display: block;
	float: left;
	width: 100%;
	height: 60px;
	background: #000;
	float: left;
}

footer div {
	float: left;
}

footer .autor {
	float: left;
	width: 18%;
	padding-left: 1%;
	margin-left: 1%;
}

footer .about {
	padding: 1%;
	float: left;
	width: 58%;
	text-align: center;
}

footer .feedback {
	padding: 1%;
	float: left;
	width: 18%;
}

.vk-img {
	width: 25px;
}

/****Ошибки ***/
.wrapper .main form .error {
	color: #f00;
	font-size: 15px;
	padding-left: 10px;
	display: none;
}